.active {
    color: black;
    position: relative;
}
.active svg{
    color: #7913e5;
}
.active::before{
    content: "";
    bottom: -55%;
    position: absolute;
    width: 120%;
    height: 3px;
    background: #7913e5;
    border-radius: 30px;
}